fastapi
uvicorn
pydantic[dotenv]
pydantic-settings
requests
httpx
pyjwt
passlib
python-multipart
python-dotenv
gitpython
jinja2
cryptography>=42.0.0
textfsm
netmiko
ntc-templates
napalm
pyyaml
apscheduler
sqlalchemy
python-jose[cryptography]
