{% for location, devices in all_devices|groupby('location') %}
[{{ location|default('ungrouped') }}]
{% for device in devices %}
{{ device.name }} ansible_host={{ device.primary_ip4 }}
{% endfor %}

{% endfor %}